/* About.module.css */
.mainContainer {
  font-family: "Poppins", sans-serif;
}

.fixedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundImage {
  object-fit: cover;
}

/* Ensure the rest of your main content has a higher z-index than the background */
.mainContainer {
  position: relative;
  z-index: 1;
  /* other styles */
}

.heroSection {
  position: relative;
  /* padding-top: 10%; */
  height: 100vh; 
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  backdrop-filter: blur(10px);
}

.heroSection:hover {
  box-shadow: 0 6px 24px rgba(168, 4, 4, 0.3);
}

.contactForm {
  background: rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(255, 1, 1, 0.2);
  padding: 5rem;
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

.contactForm h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputGroup input,
.inputGroup textarea {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.inputGroup input::placeholder,
.inputGroup textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.inputGroup button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(13, 193, 224, 0.7);
  color: #fff;
  cursor: pointer;
  outline: none;
}

.inputGroup button:hover {
  background-color: rgb(13, 210, 254, 0.7);
}
