.workContainer {
  padding: 4rem 0;
  color: #333;
  overflow-y: hidden;
}

.workTitle {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ece7e7;
  text-align: center;
}

.workSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;
}

.imageContainer {
  width: 50%;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textContainerWithBackground {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.textLink {
  z-index: 1;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Background overlay for better readability */
  padding: 10px;
  border-radius: 5px;
}

.sliderButtons {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.897);
  transform: scale(1.1);
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.card {
  width: 45%;
  background: #f7f7f78a;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .workSection, .cardContainer {
    flex-direction: column;
  }

  .imageContainer, .textContainerWithBackground, .card {
    width: 100%;
  }

  .imageContainer, .textContainerWithBackground {
    height: 300px;
  }

  .sliderButtons {
    display: none; /* Hide buttons on smaller screens if desired */
  }
}
