.main {
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.fixedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundImage {
  object-fit: cover;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.accomplishments {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  transition: 0.2s;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
  transform: scale(1.01);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 5%;
}

/* Media Query for Screens Smaller Than 950px */
@media (max-width: 950px) {
  .card {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 2rem;
    padding: 1rem;
  }
}

/* Media Query for Screens Smaller Than 768px */
@media (max-width: 768px) {
  .main {
    padding: 0;
    align-items: stretch; /* Make the container stretch */
  }

  .accomplishments {
    flex-direction: column; /* Stack the cards vertically */
    justify-content: flex-start; /* No extra space around the cards */
    align-items: stretch; /* Stretch cards to full width */
    margin-top: 0;
    padding: 0; /* Remove padding around the container */
  }

  .card {
    flex-basis: 100%; /* Cards take the full width */
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem; /* Add spacing between stacked cards */
    padding: 1.5rem; /* Adjust padding for content spacing */
  }

  .card h2 {
    font-size: 1.75rem; /* Adjust heading size for smaller screens */
  }

  .card p {
    font-size: 1.25rem; /* Adjust paragraph size for smaller screens */
  }
}

/* Image Gallery Styles (if applicable) */
.imageGallery {
  text-align: center;
  padding: 3rem 0;
}

.galleryTitle {
  font-size: 2rem;
  color: #d1cdcd;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 images per row */
  gap: 10px;
}

.imageWrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.landscape {
  grid-row: span 1; /* Landscape images take 1 row */
}

.portrait {
  grid-row: span 3; /* Portrait images take 3 rows */
}

.responsiveImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Adjust Grid for Smaller Screens */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  }
}
