/* Home.module.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");

.container {
  height: 100vh;
  display: flex;
  align-items: flex-start; /* Aligns content to the top */
  justify-content: center;
  padding: 10% 1rem 0; /* Adds padding to the top; adjust the percentage as needed */
  background-color: #141b31; /* Dark blue background */
  color: #fff; /* White text color */
  font-family: "Inter", sans-serif; /* Using Inter font */
  background-image: url("/images/logo5.png");
  background-size: cover;
  background-position: center;
}

.mainContainer {
  width: 100%;
  height: 100vh !important;
  position: relative;
}

.content {
  width: 100%; /* Use full width for smaller screens */
  max-width: 55vw; /* Adjust based on the image or your preference */
  text-align: left;
}

@media (max-width: 1200px) {
  .content {
    min-width: 90vw;
  }
}

@media (max-width: 1000px) {
  .content {
    min-width: 85vw;
  }
}

@media (max-width: 600px) {
  .container {
    padding-top: 15%; /* Increase the padding for mobile to maintain the design */
  }
  .content {
    max-width: 95vw;
  }
}
.title {
  font-size: clamp(
    1.35rem,
    3.75vw,
    2.75rem
  );
}

.subtitle {
  font-size: clamp(1.15rem, 3.25vw, 2.25rem);
}

.title {
  margin: 0;
  font-weight: 900; /* Bold weight for title */
  color: rgba(225, 225, 225, 0.95); /* White color with high opacity */
  line-height: 1.1; /* Adjust line-height for better readability */
  z-index: 100;
  position: relative;
}

.name {
  font-size: 1rem; /* Adjusted font size for 'Hi, my name is' */
  font-weight: 600; /* Medium boldness */
  letter-spacing: 0.1em; /* Adjust letter-spacing as needed */
  text-transform: uppercase; /* Uppercase styling */
  margin-bottom: clamp(1.5rem, 3vw, 3rem); /* Adjusted vertical spacing */
  color: rgb(19, 212, 247);
}

.subtitle {
  font-weight: 600; /* Medium boldness for subtitle */
  color: rgba(225, 225, 225, 0.55); /* Slightly lower opacity than title */
  margin-top: clamp(1.5rem, 3vw, 3rem); /* Adjusted vertical spacing */
  z-index: 100;
  position: relative;
}

.button {
  margin-top: clamp(1.5rem, 3vw, 3rem); /* Adjusted vertical spacing */
  padding: 0.75rem 0.75rem; /* Adjusted padding */
  font-size: 0.75rem; /* Adjusted font size */
  font-weight: 900; /* Bold for the button text */
  color: #ffffff;
  background-color: #ffffff00; /* Transparent background for the button */
  border: 0.125rem solid #01e646; /* White border for the button */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  border-radius: 0.375rem; /* Adjusted for rounded corners */
  z-index: 100;
}

.button:hover {
  background-color: #101833; /* Green on hover */
}

@media (max-width: 600px) {
  .title {
    font-size: 2.5rem; /* Smaller font size for mobile */
  }

  .name {
    font-size: 1rem; /* Smaller font size for 'Hi, my name is' on mobile */
    margin-top: 1rem; /* Adjusted vertical spacing for mobile */
  }

  .subtitle {
    font-size: 2.25rem; /* Smaller font size for mobile */
  }

  .button {
    padding: 0.75rem 2rem; /* Adjusted padding for mobile */
    font-size: 1rem; /* Smaller font size for mobile */
  }
}

.imageContainer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Full width to align center */
  height: 70vh; /* Fixed height */
  display: flex; /* Use flexbox for easy centering */
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align at the bottom */
  overflow: hidden; /* Prevent any overflow if the image is larger than the container */
  z-index: 1;
}

.heroImage {
  /* Since we're using 'contain' through custom styles, no other positioning is needed */
  opacity: 0.5; /* Adjusted opacity for the image */
}

.imageContainer {
  z-index: 0; /* Lower than the button */
}

.button {
  position: relative; /* Ensure it's positioned in stacking context */
  z-index: 100; /* High z-index, but ensure stacking context is correct */
}
