/* About.module.css */
.mainContainer {
  font-family: "Poppins", sans-serif;
  padding-top: 120px; /* Adjust the padding to avoid overlapping with the navbar */
}

.fixedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundImage {
  object-fit: cover;
}

/* Ensure the rest of your main content has a higher z-index than the background */
.mainContainer {
  position: relative;
  z-index: 1;
  /* other styles */
}

/* About.module.css */
.heroSection {
  position: relative;
  height: 500px; /* Adjust the height as needed */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}


.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}

.heroImage {
  object-fit: cover;
}

.heroSection:hover {
  box-shadow: 0 6px 24px rgba(168, 4, 4, 0.3);
}

.heroContent h1 {
  color: rgba(225, 225, 225, 0.95); /* Darker text for better contrast */
  font-weight: 800; /* Make the header bold */
  margin-bottom: 0.5em; /* Spacing between the header and paragraph */
}

.heroContent p {
  color: rgba(
    225,
    225,
    225,
    0.75
  ); /* Slightly lighter text for the paragraph */
  font-weight: 400;
}

.imageImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the entire section */
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.heroImage {
  object-fit: cover;
  /* Ensure the image covers the entire section */
}

.aboutMeSection,
.otherSections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
}

.imageWrapper {
  position: relative;
  width: 82.5%; /* Adjust as necessary */
  height: 300px; /* Adjust as necessary */
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageWrapper:hover {
  box-shadow: 0 6px 8px rgba(3, 41, 97, 0.5);
  /* Slight raise effect on hover */
}

.aboutMeContent,
.otherContent {
  max-width: 640px;
}

.mainContainer {
  font-family: "Roboto", sans-serif;
}

.imageSection,
.aboutSection,
.storySection,
.motivationSection,
.hobbiesSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.imageWrapper {
  position: relative;
  width: 80%; /* Adjust based on your preference */
  height: 400px; /* Adjust based on your preference */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.textContent:hover {
  box-shadow: 10px 10px 10px rgba(3, 41, 97, 0.5);
  /* Slight raise effect on hover */
}

.textContent {
  max-width: 1200px; /* 
  Increased from 800px for more horizontal space */
  width: 95%;
  text-align: center;
  margin: 0 auto;
  line-height: 2; /* Increased line height for better readability */
  background-color: rgba(20, 27, 49, 0.8);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.textContent h2 {
  color: #0fdbdb;
  font-weight: 700;
  margin-bottom: 10px;
}

.textContent p,
.textContent ul {
  color: #f8ebeb;
  font-weight: 400;
  line-height: 2;
  padding-bottom: 5%;
  text-align: left;
}

.textContent ul {
  list-style-position: inside;
  text-align: left; /* For a cleaner list presentation */
}

/* Add padding around list items for better readability */
.textContent li {
  padding: 5px 0;
}

.contactSection {
  padding: 60px 20px;
  width: 100%;
}

.contactForm {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: auto;
  width: 90%; /* Adjust to your preference for padding */
  max-width: 1140px; /* This is a common max-width for responsive design */
}

.contactForm h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Adds space between inputs */
}

.inputGroup input,
.inputGroup textarea {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.inputGroup input::placeholder,
.inputGroup textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.inputGroup button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #141b31;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.inputGroup button:hover {
  background-color: rgb(13, 193, 224);
}
